.authorize {
    /* Добавьте стилизацию кнопки по вашему усмотрению */
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .authorize:hover {
    background-color: #2980b9;
  }